:root {
  --bc: #e9f3f0;
  --lg: #b8bfbd;
  --dg: #6e7371;
  --bh: #a1f4db;
  --gh: #4c7367;
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
}

body {
  background-color: var(--bc);
}

footer div a, h5 a{
    color: black;
    text-decoration: none;
}

footer div a:hover, h5 a:hover{
    color: var(--bh);
}

main {
  margin: 30vh auto 0;
}

h1 {
  color: var(--dg);
  font-size: 4rem;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

h2 {
  color: var(--dg);
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
}

svg {
  font-size: 3rem;
  margin: auto 20px;
}

.project-container img {
  height: 200px;
  margin: 15px auto;
  border: solid 2px;
}

.profile-div {
  background-color: var(--lg);
}

.nav-link {
  color: var(--dg);
  cursor: pointer;
}

.nav-link:hover {
  color: var(--bh);
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.form {
  margin: 20px;
}

.form input {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.skills-list {
  font-weight: bold;
  list-style: none;
  font-size: larger;
  color: var(--dg);
}

.resume-button {
  background-color: var(--bh);
  border: solid 2px;
}

.contact-btn {
  background-color: var(--bh);
  border: solid 2px;
}

.portfolio-container {
  background-color: var(--bc);
}
